@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.rooms-container{
    background: #757BC8;
    height: 100vh;
}

.rooms-navbar{
    padding-top: 40px;
    margin-bottom: 40px;
}

.rooms-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 190px;
    margin-right: 190px;
}

.create-room{
    display: flex;
    width: 348px;
    height: 228px;
    background: #F0E1FF;
    border: 9px solid #CBB2FE;
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    margin-bottom: 37px;
    margin-top: 10px;
    cursor:pointer;
}

.your-rooms{
    width: 348px;
    height: 228px;
    background: #F0E1FF;
    border: 9px solid #CBB2FE;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 32px;
    margin-bottom: 50px;
    margin-top: 10px;
    cursor:pointer;
}

.create-room-btn{
    background: #F0E1FF;
    color: #757BC8;
    font-size: 30px;
    border: none;
}

.roomImg{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.roomName{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#CBB2FE;
    margin: 0;
    margin-top: 5px;
}

.rooms{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#CBB2FE;
    margin-right: 30px;
    cursor:pointer;
}

.active-room{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#CBB2FE;
    margin-right: 30px;
    cursor:pointer;
    text-decoration: underline;
}

.delete-btn{
    position: absolute;
    background: transparent;
    font-size: 18px;
    color: #F0E1FF;
    border: none;
   margin-top: 5px;
   margin-bottom: 10px;
}



